@model Gestionnaire_Livre_Jonathan_Mutala.Models.LivreTable

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer un livre</h2>

<h3>Etes vous sur de pouvoir supprimer ce livre</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Auteur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auteur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePublication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePublication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SouhaiterAcheter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SouhaiterAcheter)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
