@model IEnumerable<Gestionnaire_Livre_Jonathan_Mutala.Models.LivreTable>

@{
    ViewBag.Title = "Index";
}

<h2>Affichage de tout le Livres </h2>
<p>
    @Html.ActionLink("Ajouter un nouveau Livre", "Create")
</p>

<p>
    @Html.ActionLink("Liste  de livre à acheter", "GetAllLivreToBuy")
</p>

<p>
    @Html.ActionLink("Liste de livre posseder", "GetAllLivrePosseder")
</p>

<table class="table">
    <tr>
        <th>
            Titre
        </th>
        <th>
            Auteur
        </th>
        <th>
            Date de publication 
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auteur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePublication)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
